/* Versiya v1.0.0 (157) */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
a:hover{background:none;color:none;}
.header{margin-left:18px;margin-bottom:1.5px;}
.logotip{font-size:26px;color:#0095b6;font-family:'Bakbak One';text-decoration:none;}
.logo{font-size:32px;color:#0095b6;font-family:"Bakbak One";text-decoration:none;}
#izoh1{font-size:12px;font-family:Verdana;}